<div>
  <!-- <app-create-brand></app-create-brand> -->
  <body>
  <div class="container">
    <label for="stock-url">stock url</label>
    <input id="stockUrl" type="text" [(ngModel)]="apiUrl">
    <h1>Create a Brand</h1>
    <form id="brand-form">
      <div class="form-group">
        <label for="brand-name">Brand Name</label>
        <input type="text" id="brand-name" name="brand-name" [(ngModel)]="brandName" placeholder="Enter the brand name" required>
      </div>
      <div class="form-group">
        <label for="brand-description">Brand Description</label>
        <textarea id="brand-description" name="brand-description" [(ngModel)]="brandDescription" rows="4" placeholder="Enter the brand description" required></textarea>
      </div>
      <button type="submit" class="btn" (click)="createBrand()">Create Brand</button>
    </form>
    <br>
    <label for="stock-url">stock url</label>
    <input id="stockUrl" type="number" [(ngModel)]="brandId">
    <button class="btn" (click)="getBrand()">get brand</button>
    <div>
      <h3>JSON Response</h3>
      <pre>{{ jsonResponse | json  }}</pre>
    </div>
  </div>
</body>
</div>